.button{
    color: white;
}
.buttonChild{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
}